@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #343434;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgrey;
    padding: 8px;
}

.calculator__form {
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-template-rows: 95px repeat(5, 60px);
    grid-gap: 8px;

}

.calculator__output,
.calculator__btns {
    border: 2px solid black;
    cursor: pointer;
    background-color: #dcd4c9;
    font-family: 'Poppins', sans-serif;
}

.calculator__output {
    grid-column: span 4;
    text-align: right;
    padding: 15px;
    font-size: 70px;
    color: #44484b;
}

.calculator__btns:hover {
    transform: scale(0.98);
}


.calculator__clear {
    background-color: #fb5748;
}

.calculator__operator {
    background-color: #44484b;
    color: #dcd4c9;
}

.calculator__dot {
    background-color: #a6b09c;
}

.calculator__result {
    background-color: #f2bb68;
    grid-row: span 2;
}

.calculator__zero {
    grid-column: span 2;
}