@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Boogaloo', cursive;
}

.board {
    width: 500px;
    height: 350px;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0,0.23);
}

.material-icons-sharp { 
    color: #FB8C00;
    font-size: 130px; 
    height: 130px;
}

.logo {
    height: 35.33px;
    position: relative;
}

.text {
    color: #FB8C00;
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
}

.text::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0px;
    width: 4px;
    height: 100%;
    background-color: #FB8C00;
}

.active::after{
    display: none;
}

